html {
    position: relative;
}

body {
    display: flex;
    margin: 0px auto 0px auto;
    padding: 0px;
    font-family: "Pixelify Sans", sans-serif /*"Source Code Pro", monospace*/;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    user-select: none;
    background-color: rgb(50, 50, 63);
}

/*Navbar*/

#btn-menu{
    position: absolute;
    cursor: pointer;
    font-size: 38px;
    color: rgb(255, 255, 255);
    margin: 20px;
}

.menu-burguer{
    padding: 0;
}

.navbar{
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: rgb(31, 31, 34);
    box-shadow: 0px 0px 20px black;
    height: 100%;
    width: 200px;
    transform: translateX(-100px) scaleX(0%);
    transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.navbar-container{
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 60px;
    
}

.navbar-container a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(90, 90, 179);
    border-radius: 15px;
    margin-block: 10px;
    padding-inline: 5px;
    text-align: center;
    font-size: 22px;
    
}

.navbar-container a:hover{
    background-color: rgb(156, 156, 156);
    color: rgb(90, 90, 179);
}

.navbar.open{
    transform: translateX(0px) scaleX(100%);

}

/*Navbar*/

.menu-foto-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-foto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.interface {
    height: 100%;
    background-color: rgb(31, 31, 34);
    color: white;
    width: 1200px;
    margin: 0px auto 0px auto;
    padding-inline: 0px;
    box-shadow: 0px 0px 20px black;
}

.interface-interna{
    margin: 0px auto 0px auto;
    max-width: 1200px;
}

.cabeza {
    padding-inline: 0px;
    margin: 0px auto 0px auto;
}

.menu-container {
    display: flex;
    text-align: center;
    align-items: center;
}

h1.logo {
    font-size: 65px;
    font-weight: 400;
    margin: 0px auto 0px auto;
    color: rgb(255, 255, 255);
    text-shadow:0px 0px 7px rgb(90, 90, 179);
    -webkit-text-stroke: rgb(202, 202, 202);
	-webkit-text-stroke-width: .5px;
    animation: glow 3s ease-in-out infinite alternate;
}

@keyframes glow {
    0% {
      text-shadow: 0 0 20px rgb(136, 136, 231);
    }
    50% {
      text-shadow: 0 0 30px rgb(84, 84, 179)}

    100% {
      text-shadow: 0 0 10px rgb(108, 108, 209)}
}


.portfolioh1 {
    color: rgb(149, 149, 255);
}

.foto {
    border-radius: 50%;
    height: 200px;
    box-shadow: 0px 0px 7px rgb(86, 86, 255);
}

.frontend {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 25px;
}

h1{
    font-weight:400;
}

h2 {
    font-weight: 400;
}

.punto-coffee{
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 5px rgb(255, 166, 0);
}

.punto-religare {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgb(25, 0, 255);
}

.punto-pathfinder{
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 5px rgb(159, 205, 219);
}

.frontend-p {
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: 400;
    margin: 40px auto 0px auto;
    font-size: 22px;
    max-width: 800px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 30px auto 30px auto;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding-inline: 10px;
    transition: ease 0.3s;
    font-size: 20px;
}

nav ul li a:hover {
    color: rgb(149, 149, 255);
}

.li-container{
    display: flex;
}

.li-container li{
    display: flex;
}

/* Abrir y cerrar con hover icones del perfil*/

.iconsi{
    display: flex;
    cursor: pointer;
    position: absolute;
    margin: 0;
    color: rgba(149, 149, 255, 0);
    transform: translateY(30px);
}

#iw, #ig, #gh, #dw {
    transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    font-size: 1px;;
}

#iwh:hover #iw{
    color: rgb(149, 149, 255);
    font-size: 16px;
}

#iig:hover #ig{
    color: rgb(149, 149, 255);
    font-size: 16px;
}

#igh:hover #gh{
    color: rgb(149, 149, 255);
    font-size: 16px;
}

#idw:hover #dw{
    color: rgb(149, 149, 255);
    font-size: 16px;
}

/* Abrir y cerrar con hover icones del perfil */

section{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.project{
    margin-bottom: 60px;
}

section h1{
    color: rgb(245, 245, 245);
    font-size: 40px;
}

section .work-img{
    height: 350px;
    border: solid 1px;
    color: rgb(123, 123, 255);
    transition: 3ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.click_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_click{
    text-decoration: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 351px;
    width: 619px ;
    transition: ease 0.3s;
    color: rgba(255, 255, 255, 0);
}


.btn_click:hover{
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.205);
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 20px;
}

section p {
    font-size: 18px;
    font-weight: 400;
}

.skills-container{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills p{
    display: inline-block;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 40px;
    text-shadow: 0px 0px 4px rgb(0, 0, 0);
    transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    margin-block: 20px;
}

.skills p i{
    width: 80px;
}

.skills h1{
    margin: 0;
}

.skills h2{
    align-items: center;
    text-align: center;
    display: flex;
}

.skill-html{
    color: chocolate;
}

.skill-css{
    color: rgb(73, 131, 255);
}

.skill-js{
    color: rgb(255, 255, 56);
}

.skill-react{
    color: rgb(118, 173, 255);
}

.skill-node {
    color: rgb(135, 212, 99);
}

.skill-bootstrap {
    color: rgb(123, 94, 255);
}

.skills p:hover{
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.438);
}


@media (max-width: 1000px){

    section .work-img{
        height:300px;
    }
    
    .btn_click{
        height: 298px;
        width: 530px;
    }
    .menu-foto {
        flex-direction: column;
    }
    .skills-container{
        margin-top: 30px;
        max-width: 260px;
    }
    .skills{
        margin: 0;
    }
    .skills p i{
        width: 120px;
        margin: -20px;
    }
}

    

@media (max-width: 539px){
    section .work-img{
        height: 200px;
    }
    
    .btn_click{
        height: 198px;
        width: 352px;
    }
}